<div class="user-form">

<h3>Change password</h3>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  <div class="field">
    <%= f.label :New_password, "Password" %><br>
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :Confirm_new_password %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br>
    <%= f.password_field :current_password, placeholder: '' %>
  </div>
  <br>
  <div class="action">
    <%= f.submit "Update password"%>
  </div>
<% end %>
</div>