<div class="user-form">

<h3>Change password</h3>

<%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>

<% if @user.errors.present? %>
 <div id="error_explanation">
        <div class="alert alert-danger">
        <ul>
            <% if @user.errors[:password].any? %>
              <li><%= @user.errors[:password].join %></li>
            <% end %>
            <% if @user.errors[:password_confirmation].any? %>
              <li><%= @user.errors[:password_confirmation].join %></li>
            <% end %>
            <% if @user.errors[:current_password].any? %>
              <li><%= @user.errors[:current_password].join %></li>
            <% end %>
        </ul>
       </div>
  </div>
<% end %>
  <div class="edit-field">
    <%= f.label :New_password %>
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="edit-field">
    <%= f.label :Confirm_new_password %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="edit-field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, placeholder: '' %>
  </div>
  <div class="actions">
    <%= f.submit "Update password", class: 'update-profile'%>
  </div>
<% end %>
</div>