<div class="user-form">

<h3>Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <% if resource.errors.any? %>
 <div id="error_explanation">
    <div class="alert alert-danger">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  </div><br>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>

<div class="links">
  <%= link_to("Already have an account? Log in", login_path) %><br>
  <%= link_to("Don't have an account? Sign up", register_path) %>
  </div>
<% end %>
</div>
