<% if flash.now[:alert] %>
<div class="messages-confirm">
    <div class="alert alert-success alert-dismissible">
    	<%= flash[:alert] %> 
    	<%= link_to 'Send confirmation email', send_reconfirmation_path(current_user) %>
    </div>
</div>
<% end %>

<% if flash.now[:notice] %>
<div class="messages">
    <div class="alert alert-info">
    	<%= flash[:notice] %>
    </div>
</div>
<% end %>

<div class="index">

<div class="search-filters">
<div class="filter-fields">
	<%= form_tag events_path, :method => :get do %>
        <%= hidden_field_tag :search, params[:search] %>
        <div class="form-field">
			<%= label :date, 'Date' %><br>
	        <%= date_select :date_filter, '' , start_year: Date.current.year, end_year: Date.current.year + 5, prompt: true %>
		</div>

          <div class="form-field">
			  <%= label :Category, 'Category' %><br>
			  <%= select_tag :with_category, options_for_select(['Activities & Attractions', 'Art', 'Bars, Pubs & Clubs', 'Educational', 'Entertainment', 'Family', 'Fitness', 'Food & Drinks', 'Fundraising', 'Music', 'Outdoor Recreation', 'Religious','Shopping', 'Sports', 'Tours', 'Other'], params[:with_category]), :prompt => "All categories" %>
		  </div>
            
            <div class="actions">
            <%= submit_tag "Apply filters", class: "btn btn-primary filter-btn", name: 'filter'%> 
            </div>
    <% end %>
</div>
</div>

	<div class="feed">
		<div class="results">
		<% if @events.count == 0 %>
			<% if @date || params[:with_category]%>
				0 events
				<% if @date %> 
				<%= ' happening ' + @date.strftime("%B, %-d, %Y") %>
				<%= 'in ' + params[:with_category] unless params[:with_category].blank? %>
				<% else %>
				happening
				<%= 'in ' + params[:with_category] unless params[:with_category].blank? %>  
				today
				<% end %>
			<% else %>
				No events found
			<% end %>
		<% else %>
			<%= number_with_delimiter(@events.count) %>
			<% if @events.count > 1 %>
				events
			<% else %>
				event
			<% end %>

			<% if @date %> 
			<%= ' happening ' + @date.strftime("%B, %-d, %Y") %>
			<%= 'in ' + params[:with_category] unless params[:with_category].blank? %>
			<% else %>
			happening
			<%= 'in ' + params[:with_category] unless params[:with_category].blank? %>
			today  
			<% end %>
		<% end %>
		</div>

		<div class="events">
			<%= render @events %>
		</div>
		<div class="pagination">
			<%= will_paginate @events %>
		</div>
		<% if @events.next_page %>
			<div id="load-more-posts" class="btn btn-primary"> Load more posts</div>
		<% end %>
	</div>
</div>